.box{
  border: 1px solid black;
  width: 500px;
  text-align: center;
}
.item-img{
  width:400px
}
.main{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
button{
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color:#fff;
  cursor: pointer;
}