.box{
  border: 1px solid black;
  width: 500px;
  text-align: center;
}
.item-img{
  width:400px;
  height: 400px;
  object-fit: contain;
}
.main{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
h1{
  text-align: center;
}
button{
  margin-top: 30px;
  border: none;
  box-shadow: 0px 0px 10px #00000073;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  color:#fff;
  cursor: pointer;
}
button img{
  width: 40px;
  height: 100%;
  object-fit: obtain;
}
.win{
  border: 10px solid green; 
  color: green;
}
.lose{
  border: 10px solid red; 
  color: red;
}
.tie{
  border: 10px solid black; 
  color: black;
}